ccxt==4.5.48
pandas==3.0.2
numpy==1.26.4
PyQt5==5.15.10
requests==2.32.5
aiohttp==3.13.3
psutil==7.2.2
matplotlib==3.10.8
cryptography==46.0.6
pyqtgraph==0.13.7
colorama==0.4.6
scikit-learn==1.8.0
xgboost==3.2.0
flask==3.0.0
deap==1.4.0